<div class="row">
    <div class="col"></div>
    <div class="col"></div>
    <div class="col">
        <button class="sidebar-right-toggle btn-info btn-sm fa-pull-right">
            <i class="fas fa-newspaper"></i>
        </button>
    </div>
</div>
