@{
    ViewData["Title"] = "Home Page";
}

    <div class="row">
        <div clas="col"></div>
        <div clas="col">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-info">
                        Current Market Price
                    </h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col text-center">
                            <select class="current-crypto-symbol">
                            </select>
                            <h3 class="current-crypto-price"></h3>
                            <button id="refresh-price" class="btn btn-primary">
                                Refresh
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div clas="col"></div>
    </div>

@section Scripts{
    <script type="text/javascript">

        function getCryptoPrice() {

            const targetSymbol = $(".current-crypto-symbol").val();

            $.ajax('@Url.Action("CurrentCryptoPrice")',
                {
                    method: "GET",
                    data: {
                        symbol: targetSymbol,
                        fiat: "USD"
                    },
                    success: function (data) {
                        console.log(data.result);
                        $(".current-crypto-price").text(data.result.price);
                    },
                    error: function(data){
                        console.log(data);
                    }
                });
        }

        function getCurrentListings() {

            let $symbolPicker = $(".current-crypto-symbol");

            $.ajax('@Url.Action("CurrentListings")',
                {
                    method: "GET",
                    data: {
                        limit: 1000,
                        start: 1
                    },
                    success: function (data) {
                        if ($symbolPicker.children(".sym-opt").length > 0) {
                            $symbolPicker.children(".sym-opt").remove();
                        }
                        if ($.isArray(data.result)) {
                            for (let i = 0; i < data.result.length; i += 1) {
                                const symbol = data.result[i].symbol;
                                let $opt = $("<option>",
                                    {
                                        id: `sym-opt-${i}`,
                                        "class": "sym-opt",
                                        value: symbol,
                                        textContent: `${symbol}`
                                    }).text(symbol);
                                $symbolPicker.append($opt);
                            }
                        }
                    },
                    error: function (data) {
                        console.log(data.result);
                    }
                });
            return true;
        }

        $(document).ready(function () {

            getCurrentListings();
            getCryptoPrice();

            $("#refresh-price").on("click", getCryptoPrice);
            $(".current-crypto-symbol").change(function () {
                getCryptoPrice();
            });
        });
    </script>
}
