<div class="card">
    <div class="card-body">
        <h4 class="bg-primary text-white ml-0 mt-0">Market info</h4>
        <div class="row">
            <div class="col text-center">
                <select class="current-crypto-symbol">
                </select>
                <h3 class="current-crypto-price"></h3>
                <button id="refresh-price" class="btn btn-primary">
                    Refresh
                </button>
            </div>
        </div>
    </div>
</div>
