<div class="sidebar-right">
    <div class="slimscroll-right">
        <div class="sidebar-right-title">
            News Feed
        </div>
        <div class="sidebar-right-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <span class="badge badge-pill bg-danger float-right">-1.23</span>
                    <span class="badge badge-pill bg-warning float-right">obj</span>
                    <a href="#">Title</a>
                    <p>@DateTime.UtcNow</p>
                </li>
                <li class="list-group-item">
                    <span class="badge badge-pill bg-danger float-right">-1.23</span>
                    <span class="badge badge-pill bg-warning float-right">obj</span>
                    <a href="#">Title</a>
                    <p>@DateTime.UtcNow</p>
                </li>
            </ul>
        </div>
    </div>
</div>