<div class="sidebar-right">
    <div class="slimscroll-right">
        <div class="sidebar-right-title">
            News Feed
        </div>
        <div class="sidebar-right-body">

        </div>
    </div>
</div>